* {
	box-sizing: border-box;
}

body {
	overflow-x: hidden;
}

:root {
	--my-red: rgb(236, 23, 81);
}

.searchForm input {
	border-radius: 0px;
}

.userIcon {
	color: var(--my-red);
	border-color: var(--my-red);
	background-color: #fff;
}

.userIcon:hover,
.userIcon:hover .userIcon1 {
	color: #fff !important;
	background-color: var(--my-red) !important;
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.6);
	max-width: 100%;
	bottom: 0px;
	right: 0;
	left: 0;
	font-family: Ubuntu;
}

.form-control:focus {
	border-color: var(--my-red);
	box-shadow: 0 0 0 0.2rem rgba(236, 23, 81, 0.25);
}

.dropdown::marker {
	width: 0;
	display: none !important;
}

.font-ubuntu {
	font-family: Ubuntu;
	font-weight: 400;
}

.font-ubuntu-700 {
	font-family: Ubuntu;
	font-weight: 700;
}

.spBtn {
	color: rgb(236, 23, 81);
	background-color: #fff;
	border-color: rgb(236, 23, 81);
}

.spBtn:hover {
	background-color: rgb(236, 23, 81);
	color: white;
	border-color: rgb(236, 23, 81);
}

a:hover {
	text-decoration: none !important;
}

.App {
	display: block;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.footer {
	position: absolute;
	bottom: -20px;
	height: 200px;
	width: 100%;
	background-color: white;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
	color: rgb(236, 23, 81) !important;
	font-size: 1.2rem;
}

.footer a {
	color: black !important;
	font-size: 1rem;
}

.icons a {
	margin: 3px;
}

address {
	font-size: 80%;
	margin: 0px;
	color: #0f0f0f;
}

.location-icon {
	color: blue;
	height: 25%;
}

input[type="date"]:after {
	content: attr(placeholder);
}

.profile__image {
	height: 35vh;
	margin-bottom: 25px;
}

.profile__image__div {
	margin-top: 80px;
	margin-left: 40%;
	width: 200px;
	align-items: center;
}

.profile__image {
	border-radius: 50%;
}

.pics {
	margin-top: 70px;
	margin-bottom: 100px;
}

.contactform {
	margin: auto;
	width: 40%;
}

.contactform Button {
	background-color: white !important;
	color: rgb(236, 23, 81);
	border-color: white;
}

.contactform Button:hover {
	background-color: rgb(236, 23, 81) !important;
	color: white;
	border-color: white;
}

.contactform Input {
	border: none;
	border-left: 2px solid rgb(236, 23, 81) !important;
}
